@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;

}
.body{
   
    background: url(../bg.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    #board{
    background: linear-gradient(rgb(121, 210, 121), rgb(229, 229, 131));
    /* background-size: ; */
    display: block;
    width: 90vmin;
    height: 90vh;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
    
    /* border-radius: 13px; */
    /* z-index: -1; */
}
.head{
    background: linear-gradient(red, rgb(75, 64, 64));
    border: .25vmin solid aliceblue;
    border-radius: 12px;
    transform: scale(1.09);
}
.snake{
    background-color:black;
    border: .25vmin solid aliceblue;
    border-radius: 12px;
}
.food{
    background: linear-gradient( rgb(69, 181, 222),rgb(24, 95, 247) );
    border: .25vmin solid rgb(5, 5, 5);
    border-radius: 24px;
}
#speedboard{
    position: absolute;
    display: flex;
    /* align-items: ; */
    flex-direction: column;
    top: 157px;
    left: 78px;
    font-size: 8rem;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
#speedboard :hover{
    cursor: pointer;
}
.spd a{
    text-decoration: none;
    color: black;
}
#speedboard a :visited{
    text-decoration:underline;
    color: rgb(89, 93, 90);
}
.spd{
    border: 2px solid black;
    padding: 4px;
    width: 250px;
    margin: auto;
    text-align: center;
}

#scoreBox{
    position: absolute;
    /* display: flex; */
    top: 186px;
    right: 612px;
    font-size: 12rem;
    /* z-index: 14; */
    font-weight: bold;
    /* font-family: 'Baloo Bhai 2', cursive; */
    font-family: 'New Tegomin', serif;
}
#hiscoreBox {
    position: absolute;
    top: 7px;
    right: 131px;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'New Tegomin', serif
}
/* #hiscoreBox{
    position: absolute;
    top: 7px;
    right: 600px;
    font-size: 12rem;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
} */
#board {
    background: linear-gradient(rgb(121, 210, 121), rgb(229, 229, 131));
    display: block;
    width: 90vmin;
    height: 90vh;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
    /* border-radius: 13px; */
    /* z-index: -1; */
}
#speedboard {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 95px;
    left: 6px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
#scoreBox {
    position: absolute;
    /* display: flex; */
    top: 52px;
    right: 150px;
    font-size: 3rem;
    /* z-index: 14; */
    font-weight: bold;
    /* font-family: 'Baloo Bhai 2', cursive; */
    font-family: 'New Tegomin', serif;
}